*{margin:0;
  padding: 0;

}
body{
    min-height: 10vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background:cornflowerblue;

}
.datetime{
    color: aqua;
    background: cornflowerblue;
    width: 340px;
    padding:15px;
    border:3px;
    border-radius:5px ;
    .date{
        font-size: 20px;
        font-weight:600;
        letter-spacing:3px;
    }
    .time{
        font-size: 20;
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;


    }
}